body {
    background-color: #bbcddb;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 90px;
    font-weight: bold;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}

a {
    text-decoration: none;
    color: black;
    display: inline-block;
    width: max-content;
}

a:hover {
    color: darkblue;
}

div {
    padding-top: 20px;
    padding-bottom: 20px;
}

ul.home {
    list-style-position: inside;
    line-height: 110px;
    font-size: x-large;
    width: max-content;
    margin: 0 auto;
    list-style: "★";
}

.text {
    margin-top: 80px;
    margin-bottom: 100px;
    margin-right: 300px;
    margin-left: 150px;
}

.normal {
    text-decoration: none;
    color: black;
}

.img {
    display: block;
    margin: auto;
    padding-bottom: 10px;
}